@import "tailwindcss";

:root {
  --background: #faebd6;
  --foreground: #171717;
  --font-denk: "Denk One", sans-serif;
  --font-bai-jamjuree: "Bai Jamjuree", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faebd6;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .font-denk {
    font-family: var(--font-denk-one);
  }

  .font-bai {
    font-family: var(--font-bai-jamjuree);
  }
}

@keyframes marquee-left-to-right {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes marquee-right-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(calc(-100% - var(--gap)));
  }
  to {
    transform: translateY(0);
  }
}

.animate-marquee-left-to-right {
  animation: marquee-left-to-right var(--duration) linear infinite;
}

.animate-marquee-right-to-left {
  animation: marquee-right-to-left var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}
